.navbar {
  width: 100%;
  height: 100px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
}

.navbar .left {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 150px;
}

.navbar .right {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar button#navBtn {
  display: none;
}

.navbar a {
  color: #000;
  text-decoration: none;
  margin: 10px;
}

@media only screen and (max-width: 680px) {
  .navbar button#navBtn {
    display: block;
    width: 10%;
    z-index: 4;
    margin-left: 10px;
  }

  .navbar {
    width: 100%;
    height: 100px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }

  .navbar .left {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 150px;
  }

  #open {
    display: flex;
    flex-direction: column;
    z-index: 3;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 900px;
    text-align: center;
    transition: 0.3s;
  }

  #open a {
    width: 100%
  }

  #close {
    display: none;
  }
}

#count {
  color: red;
}

.cartItems {
  position: absolute;
  z-index: 1;
  background: #f6f5f5;
  width: 400px;
  right: 0px;
  top: 68px;
  padding: 10px;

}

.cartItem {
  display: flex;
  width: 100%;
  transition: left 0.5s ease-in;
}

.cartItem input {
  width: 50%;
  font-size: 17px;
}

.cartItem div {
  width: 100px;
  padding: 5px;
}

.hideCart {
  display: none;
}

.cartItms{
  width:90%;
  margin: auto;
  background-color: rgb(175, 139, 176);
  padding:5px;
  margin:5px;
}

.totalAmnt{
  width:90%;
  margin: auto;
  background-color:rgb(250, 197, 178);
  padding:5px;
  margin:5px;
}

#checkOut{
  width:25%;
  margin: auto;
  background-color:green;
  padding:5px;
  border: none;
  color:#fff;
  font-weight: bold;
  float: left;
}

#checkOutClose{
  width:25%;
  margin: auto;
  background-color:red;
  padding:5px;
  border: none;
  color:#fff;
  font-weight: bold;
  float: left;
}